body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
    padding: 10px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 280px;
    grid-gap: 8px;
}
.photo {
    position: relative;
    border-radius: 6px;
    background: white;
    overflow: hidden;
}
  
.photo__img {
    height: 100%;
}
  
.photo__title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    font-size: 12px;
    background: rgba(255,255, 255, .4);
}